# GigaChat API Authorization key
GIGACHAT_CREDENTIALS=your_credentials

# GIGACHAT_API_PERS / GIGACHAT_API_B2B / GIGACHAT_API_CORP
GIGACHAT_SCOPE=GIGACHAT_API_PERS


# Рublic variables

# Base URL для GigaChat API proxy
VITE_API_BASE=/api

# dark | light
VITE_DEFAULT_THEME=dark