.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 0;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    /*над контентом, под боковой панелью*/
    z-index: 10;
    display: none;
    pointer-events: none;
}

.overlayOpen {
    display: block;
    pointer-events: all;
}

/* Мобильная версия */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .main {
        width: 100%;
        flex: 1;
    }
}